.t{
    background-color: black;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    
}
hr{
    
    color:#2D6000;
    height: 3px;
    background-color: #2D6000;
    font-weight: 900px;
}
li:hover{
    
    border-bottom: 1px solid #F3AC2F;
    padding: 5px;
    color: #F3AC2F;
   
    
}
li a:hover{
    color: #F3AC2F;     
}