        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar t" >
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <hr>
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="accueil" aria-expanded="false">
                                <i class="fa fa-home" aria-hidden="true" style="color: #2D6000;"></i>
                                <span class="hide-menu"><b>Accueil</b></span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="listAdmin" aria-expanded="false">
                                <i class="fas fa-tasks" aria-hidden="true" style="color: #2D6000;"></i>&nbsp;
                                <span class="hide-menu"><b>Gestion des Administrateurs</b></span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="boutiquier" aria-expanded="false">
                                <i class="fa fa-users" aria-hidden="true" style="color: #2D6000;"></i>
                                <span class="hide-menu"><b>Gestion des Boutiquiers</b></span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="listBoutique" aria-expanded="false">
                                <i class="fa fa-users" aria-hidden="true" style="color: #2D6000;"></i>
                                <span class="hide-menu"><b>Gestion des Boutiques</b></span>
                            </a>
                        </li>
                       
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="listProduit" aria-expanded="false">
                                <i class="fas fa-chart-line" aria-hidden="true" style="color: #2D6000;"></i>
                                <span class="hide-menu"><b>Gestion des Produits</b></span>
                            </a>
                        </li>
                        
                      
                        <!-- <li class="sidebar-item" style="padding-top: 30px;">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" (click)="logout()" aria-expanded="false">
                                <i class="fas fa-sign-out-alt" aria-hidden="true" style="color: #F3AC2F; font-weight: bold; font-size: 25px;"></i>
                                <span class="hide-menu" style="color: #F3AC2F; font-weight: bold;"><b>DECONNEXION</b></span>
                            </a>
                        </li> -->
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        

